@import "colors.scss";

.desktopNav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 145rem;
  width: 95%;

  .logo {
    width: 14rem;
  }

  .desktopItems {
    align-items: center;
    color: $white;
    column-gap: 5rem;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    list-style: none;

    li {
      font-family: "Barlow", sans-serif;
      transition: all 0.3s;
    }

    li:not(.btnContainer):hover {
      transform: scale(1.2);
    }

    .btnContainer {
      button {
        background-color: $white;
        border-radius: 25px;
        border: none;
        cursor: pointer;
        font-family: "Fraunces", serif;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        padding: 1rem 1.8rem;
        text-transform: uppercase;
        transition: all 0.3s;
      }

      button:hover,
      button:focus {
        background-color: rgba(192, 241, 253, 0.361);
        color: $white;
      }
    }
  }
}
