@import "colors.scss";

.features {
  display: grid;
  grid-template-areas:
    "transform"
    "boxOne"
    "standOut"
    "boxTwo"
    "graphicDesign"
    "photography";
  grid-template-columns: 1fr;
  min-width: 20rem;

  .transform {
    grid-area: transform;
  }

  .boxOne {
    grid-area: boxOne;
  }

  .standOut {
    grid-area: standOut;
  }

  .boxTwo {
    grid-area: boxTwo;
  }

  .graphicDesign {
    grid-area: graphicDesign;
  }

  .photography {
    grid-area: photography;
  }

  article {
    img {
      height: 100%;
      width: 100%;
    }
  }

  .textBox {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 6rem 2rem;
    row-gap: 2rem;
    text-align: center;

    h3 {
      color: $very-dark-desaturated-blue;
      font-family: "Fraunces", serif;
      font-size: 2rem;
    }

    p {
      color: $dark-grayish-blue;
      font-family: "Barlow", sans-serif;
      font-size: 1.2rem;
      letter-spacing: 0.4px;
      line-height: 1.5;
      max-width: 65rem;
      word-spacing: 1px;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-family: "Fraunces", serif;
      font-size: 1.1rem;
      font-weight: 900;
      position: relative;
      text-transform: uppercase;
    }

    .yellowBgBtn::after {
      background-color: $yellow;
      border-radius: 20px;
      bottom: 4%;
      content: "";
      height: 5px;
      left: 50%;
      opacity: 0.3;
      position: absolute;
      transform: translateX(-50%);
      transition: all 0.2s;
      width: 115%;
    }

    .redBgBtn::after {
      background-color: $soft-red;
      border-radius: 20px;
      bottom: 4%;
      content: "";
      height: 5px;
      left: 50%;
      opacity: 0.3;
      position: absolute;
      transform: translateX(-50%);
      transition: all 0.2s;
    }

    .yellowBgBtn:hover::after,
    .redBgBtn:hover::after {
      opacity: 0.6;
    }
  }

  .graphicDesign {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url("../assets/mobile/image-graphic-design.jpg");
    height: 60vh;
    position: relative;

    section {
      bottom: 10%;
      color: $dark-desaturated-cyan;
      display: flex;
      flex-direction: column;
      left: 50%;
      position: absolute;
      row-gap: 2rem;
      text-align: center;
      transform: translateX(-50%);
      width: 90%;

      h5 {
        font-size: 2rem;
      }

      p {
        font-size: 1.4rem;
        line-height: 1.4;
      }
    }
  }

  .photography {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url("../assets/mobile/image-photography.jpg");
    height: 60vh;
    position: relative;

    section {
      bottom: 10%;
      color: $dark-blue;
      display: flex;
      flex-direction: column;
      left: 50%;
      position: absolute;
      row-gap: 2rem;
      text-align: center;
      transform: translateX(-50%);
      width: 90%;

      h5 {
        font-size: 2rem;
      }

      p {
        font-size: 1.4rem;
        line-height: 1.4;
      }
    }
  }

  .photography,
  .graphicDesign {
    section {
      h5 {
        font-family: "Fraunces", serif;
      }

      p {
        font-family: "Barlow", sans-serif;
      }
    }
  }
}

@media screen and (min-width: 350px) {
  .features {
    .textBox {
      h3 {
        font-size: 2.2rem;
      }

      p {
        font-size: 1.4rem;
      }

      button {
        font-size: 1.3rem;
      }
    }

    .graphicDesign,
    .photography {
      section {
        h5 {
          font-size: 2.2;
        }

        p {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media screen and (min-width: 450px) {
  .features {
    .textBox {
      h3 {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.6rem;
      }

      button {
        font-size: 1.5rem;
      }
    }

    .graphicDesign,
    .photography {
      section {
        h5 {
          font-size: 2.4;
        }

        p {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media screen and (min-width: 451px) and (max-width: 819px) {
  .features {
    .textBox {
      h3 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.7rem;
      }

      button {
        font-size: 1.6rem;
      }
    }

    .graphicDesign,
    .photography {
      section {
        h5 {
          font-size: 2.5;
        }

        p {
          font-size: 1.9rem;
        }
      }
    }
  }
}

@media screen and (min-width: 820px) {
  .features {
    grid-template-areas:
      "boxOne transform"
      "standOut boxTwo"
      "graphicDesign photography";
    grid-template-columns: repeat(2, 1fr);

    .transform {
      grid-area: transform;
    }

    .boxOne {
      grid-area: boxOne;
      justify-content: center;
    }

    .standOut {
      grid-area: standOut;
    }

    .boxTwo {
      grid-area: boxTwo;
      justify-content: center;
    }

    .graphicDesign {
      background-image: url("../assets/desktop/image-graphic-design.jpg");
      grid-area: graphicDesign;
    }

    .photography {
      background-image: url("../assets/desktop/image-photography.jpg");
      grid-area: photography;
    }

    .graphicDesign,
    .photography {
      section {
        margin: auto;
        max-width: 50rem;

        h5 {
          font-size: 3rem;
        }
      }
    }

    .boxOne,
    .boxTwo {
      align-items: flex-start;
      padding: 7rem;
      row-gap: 5rem;

      h3 {
        font-size: 4rem;
        text-align: left;
      }

      p {
        font-size: 2rem;
        line-height: 1.6;
        text-align: left;
      }

      button {
        font-size: 1.7rem;
      }
    }
  }
}
