@import "colors.scss";

.footer {
  align-items: center;
  background-color: hsl(168, 70%, 73%);
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  padding: 5rem 0;
  row-gap: 6rem;

  .top {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    text-align: center;

    h3 {
      color: $dark-desaturated-cyan;
      font-family: sans-serif;
      font-size: 2rem;
      font-weight: 900;
      opacity: 0.8;
    }

    ul {
      align-items: center;
      column-gap: 4rem;
      display: flex;
      font-family: "Barlow", sans-serif;

      li {
        transition: all 0.2s;
        a {
          color: $dark-desaturated-cyan;
          opacity: 0.7;
        }
      }

      li:hover {
        transform: scale(1.2);
      }
    }
  }

  .socialMedia {
    align-items: center;
    column-gap: 1.7rem;
    display: flex;

    img {
      cursor: pointer;
      transition: all 0.2s;
      width: 1.5rem;
    }

    img:hover {
      transform: scale(1.2);
    }
  }
}

@media screen and (min-width: 350px) {
  .footer {
    .top {
      h3 {
        font-size: 2.3rem;
      }

      ul {
        li {
          font-size: 1.3rem;
        }
      }
    }

    .socialMedia {
      img {
        width: 1.8rem;
      }
    }
  }
}

@media screen and (min-width: 450px) {
  .footer {
    .top {
      h3 {
        font-size: 2.5rem;
      }

      ul {
        li {
          font-size: 1.5rem;
        }
      }
    }

    .socialMedia {
      img {
        width: 2rem;
      }
    }
  }
}

@media screen and (min-width: 820px) {
  .footer {
    .top {
      h3 {
        font-size: 2.7rem;
      }

      ul {
        li {
          font-size: 1.5rem;
        }
      }
    }

    .socialMedia {
      img {
        width: 2rem;
      }
    }
  }
}
