@import "colors.scss";

.galleries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 20rem;

  img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 820px) {
  .galleries {
    grid-template-columns: repeat(4, 1fr);
  }
}
