@import "colors.scss";

.header {
  background-image: url("../assets/mobile/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem;
  position: relative;
  height: 100vh;
  min-width: 20rem;
  max-width: 180rem;
  margin: auto;

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    row-gap: 7rem;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    .title {
      color: $white;
      font-size: 3rem;
      font-family: "Fraunces", serif;
    }
  }
}

@media screen and (min-width: 350px) {
  .header {
    .content {
      .title {
        font-size: 4.5rem;
      }
    }
  }
}

@media screen and (min-width: 450px) {
  .header {
    .content {
      .title {
        font-size: 5rem;
      }
    }
  }
}

@media screen and (min-width: 451px) and (max-width: 819px) {
  .header {
    .content {
      .title {
        font-size: 6rem;
      }
    }
  }
}

@media screen and (min-width: 820px) {
  .header {
    background-image: url("../assets/desktop/image-header.jpg");

    .content {
      .title {
        font-size: 7rem;
      }
    }
  }
}
