@import "colors.scss";

.mobile-menu-container {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  padding: 2rem;
  position: relative;
  width: 95%;
  z-index: 999;

  .menu-item {
    color: $dark-grayish-blue;
    cursor: pointer;
    display: inline-block;
    font-family: "Barlow", sans-serif;
    font-size: 1.5rem;
    margin: 5px;
    padding: 10px;
    text-align: center;
  }

  .menu-item:hover {
    color: $very-dark-desaturated-blue;
  }

  .contact-button {
    background-color: $yellow;
    border-radius: 20px;
    border: none;
    color: $very-dark-desaturated-blue;
    cursor: pointer;
    font-family: "Fraunces", serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 5px;
    min-width: 100px;
    padding: 1.2rem 2.2rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s;
  }

  .contact-button:hover {
    opacity: 0.8;
  }
}

.mobile-menu-container::before {
  border-bottom: 30px solid $white; /* Change the color and height as needed */
  border-left: 30px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: -10%;
}
