@import "colors.scss";

.testimonials {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20rem;
  padding: 7rem 1rem;
  row-gap: 6rem;

  .title {
    color: $dark-grayish-blue;
    font-family: "Fraunces", serif;
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    word-spacing: 2px;
  }

  .profiles {
    align-items: center;
    column-gap: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;

    .profile {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 35rem;
      row-gap: 4rem;
      text-align: center;
      width: 100%;

      img {
        border-radius: 50%;
        width: 4.5rem;
      }

      .idea {
        color: $very-dark-desaturated-blue;
        font-family: "Barlow", sans-serif;
        font-size: 1.3rem;
        letter-spacing: 0.3px;
        line-height: 1.5;
        word-spacing: 0.5px;
      }

      .info {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        span:first-child {
          color: $very-dark-desaturated-blue;
          font-family: "Fraunces", serif;
          font-size: 1.4rem;
          font-weight: 800;
        }

        span:last-child {
          color: $dark-grayish-blue;
          font-family: "Barlow", sans-serif;
          font-size: 1.1rem;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}

@media screen and (min-width: 350px) {
  .testimonials {
    .title {
      font-size: 1.5rem;
    }

    .profiles {
      .profile {
        .idea {
          font-size: 1.5rem;
        }

        .info {
          span:first-child {
            font-size: 1.6rem;
          }

          span:last-child {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 450px) {
  .testimonials {
    .title {
      font-size: 1.7rem;
    }

    .profiles {
      .profile {
        .idea {
          font-size: 1.6rem;
        }

        .info {
          span:first-child {
            font-size: 1.7rem;
          }

          span:last-child {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 451px) and (max-width: 819px) {
  .testimonials {
    .title {
      font-size: 1.8rem;
    }

    .profiles {
      .profile {
        .idea {
          font-size: 1.7rem;
        }

        .info {
          span:first-child {
            font-size: 1.8rem;
          }

          span:last-child {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 820px) {
  .testimonials {
    .profiles {
      flex-direction: row;
    }
  }
}
